@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
*{
    font-family: "Josefin Sans", sans-serif;
    

    margin: 0;
    padding: 0;
    outline: none;
}

html{
    font-size: 62.5%;
    background-color:  rgb(206, 230, 240);
}

.feed-page{
    width:100%;
    height: 100vh;
    
}

.feed-page-nav{
    position: fixed;
    width:100%;
    background-color: white;
    height: 6rem;
    font-size: 2rem;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     box-shadow: 0 0  0.7rem rgba(0,0,0,0.5) ;
}

.feed-page-icons a{
    color:  #9e9a9a;
    margin-right: 2rem;
}

.feed-page-icons .active{
    color: #1aa1f5;

}

.search-bar{
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar input{
    width: 30rem;
    outline: none;
    border-radius: 4rem;
    height: 3.5rem;
    padding-left: 5rem;
    background-color: #d6e1e9;
    border: 0.1rem solid #d6e1e9;
    color: black;
    transition: all 0.3s;
}

.search-bar input:focus{
    background-color: #fff;
    border-color: #1aa1f5;
}

.search-bar i{
    position: absolute;
    font-size: 1.5rem ;
    left: 1.5rem;
    color: #9e9a9a;
 
}

.profile{
    display: flex;
    align-items: center;

}

.profile-image{
    width:4rem;
    height: 4rem;
    padding-right: 2rem;
}

.profile-image  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  
}
.profile a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #444;
    font-weight: 900;
    padding-right: 1rem; 
}
.profile i{
    color: #444;
    font-size: 1.5rem;
    
}


.feed-content{
    display: grid;
    grid-template-columns: minmax(5rem,1fr) 60rem 40rem minmax(5rem,1fr);
    
    padding-top:0.3rem;
    grid-template-rows: repeat(2,min-content);
}



.feed-left{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: center;
    padding-top: 6rem;
    
}

.post{
    margin-top : 2rem ;
    background-color: #fff;
}


.header1{
   
    display: flex;
    align-items: center;
    justify-content:space-between;
     padding-top: 1rem;
     padding-bottom: 1rem;
     border-bottom: 0.1rem solid #eee;
    
}


.header1 h3{
    font-family: "Josefin Sans", sans-serif;
    color:black;
    font-size: 2.2rem;
    margin-left: 2rem;
    
}

.header1 i{
    font-size: 2.2rem;
    margin-right: 2rem;
    color: blue;
}


.header2 div{
    padding: 0.5rem;
        display: flex;
        align-items: center;
       
}

.header2 div:not(.icon){
    border-bottom: 0.1rem solid #eee;
}

.header2 img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 2rem;

}

.header2 input{
     border-radius: 2rem;
     width: 35rem;
     height: 4rem;
     padding-left: 2rem;
     background-color: #99c4df ;
     border:none;
    transition: all .3s;
    margin-right: 2rem;
}

.header2 input:focus{
    border: .1rem solid #99c4df;
    background-color: white;
}

.header2  .icon a{
   font-size: 2.5rem;
   color: #1aa1f5;
   margin: 1rem;
}

.feed-left{
    display: grid;

}

.posts{
    grid-column: 2/3;
    grid-row: 1/-1;
    margin-top: 1rem;
    padding-left: 2.5rem;
    border-bottom: .1rem solid #eee;
}

.post-title{
     display: flex;
     align-items: center;
}

.post-title img{
    width: 6rem;
    height: 6rem;
border-radius: 50%;
margin-right: 2rem;
}

.post-title a{
    text-decoration: none;
    font-size: 2rem;
    color: black; 
    padding-right: 1rem;
}

.post-title i{
    color: #1aa1f5;
    padding-right: 1rem;
}

.post-text {  
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}




.post-img {
    width: 50rem;
    height: 30rem;
  }

  .post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .post-icons {
    margin-top: 1rem;
  }
  
  .post-icons i {
    font-size: 1.8rem;
    color: #868383;
    margin-right: 6rem;
    padding-bottom: 1.5rem;
  }
  

  .feed-right{
    position:fixed;
    top:8rem;
    left: 90rem;


  }



  .follow{
     background-color: #fff;
     display:flex;
     flex-direction: column;
     width: 28rem;


  }

  .follow h3{
     
      font-size: 1.4rem;
     
  }

  .whotofollow{
       padding: 1rem;
  }

  .follow-profiles{
      padding: 1rem 2rem;
        display: flex;
        border-bottom: 2px solid .1px solid #eee;
        border-top:2px solid #eee;
        align-items: center;
        justify-content: space-between;

  }

  .follow-profiles .img-wrapper{
      width: 5rem;
      height: 5rem;
         
  }

  .follow-profiles .img-wrapper img{
      width:100%;
      height: 100%;
      border-radius: 50%;
  }

  .follow-profiles a{
      text-decoration: none;
      font-size: 1.5rem;
      color: #1aa1f5;
  }

  .follow-profiles div{
       display: flex;
       flex-direction: column;
       align-items: center;
  }
  
  .follow-profiles button{
      font-size: 1.5rem;
      padding: 1rem ;
       background-color: #fff;
       border:1px solid #1aa1f5;
       border-radius: 3rem;
       color:#1aa1f5;
       text-align: center;
  }

  .feed-footer{
      font-size: 1.2rem;
      padding-top: 1.5rem;
  }
.feed-footer a{      
    color: #444;
text-decoration: none;
    padding-right: .5rem;
}

.post-btn{
    position: fixed;
    bottom: 2rem;
    left: 100rem;
    font-size: 2rem;
    border:.1rem solid  #1aa1f5;
    background-color: #1aa1f5;
    
    color: white;
    width: 12rem;
    padding: 1.2rem 1rem;
   
    border-radius: 4rem;
    transition: all .3s;
    box-shadow: 0 0 .3 1rem rgba(0,0,0,0.5);


}

.post-btn:hover{
    cursor: pointer;
    background-color: #0d72b1;
}


.modal-wrapper{
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    
}

.modal{
    width:60rem;
    background-color: #fff;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1.5rem;

}

.modal-header{
    padding: 1.5rem 2.5rem;
    display: flex;
   align-items: center;
   border-bottom: 0.1rem solid #eee;
}

.modal-header i{
    font-size: 2.3rem;
    color: #1aa1f5;
    cursor: pointer;
}

.modal-header button{
    margin-left: auto;
    width: 8rem;
    padding: .8rem .5rem;
    background-color: #1aa1f5;
    color: #fff;
    font-size: 1.6rem;
    border-radius: .1rem solid #1aa1f5;
    border-radius: 3rem;
    opacity: .5 ;
}


.modal-body{
    display: flex;
    padding: 2rem 1.5rem 1rem 1.5rem;


}

.modal-img{
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
    
}

.modal-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.modal-input{
    width: 53rem;
    padding: 1rem 0 8rem 1rem;
    background-color: #d6e1e9;
    border: .1rem solid #eee;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    transition: all .3s;
}
.modal-input:focus{
    background-color: #fff;
    border-color: #1aa1f5;
}


.modal-footer {
    padding: 0 2rem 2rem 8rem;
}

.modal-icons{
    display: flex;
    align-items: center;
}


.modal-icons i{
    margin-right: 2rem;
    font-size: 2.7rem;
    color: #1aa1f5;

}
.modal-icons span{
    margin-left: auto;
    font-size: 2rem;
    color: #1aa1f5;
    width: 3rem;
    height: 3rem;
    border: .1rem solid #1aa1f5 ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
}


@media(max-width: 1200px){
    
    .feed-right{
      
        left: 70%;
    
    }

    .post-btn{
        left:80rem;
    }

}


@media(max-width: 960px){

        .feed-right{
            display: none;
        }

        .search-bar{
            display: none;
        }

        

        .feed-content{
            grid-template-columns: minmax(5rem,1fr) 2fr  minmax(5rem,1fr);
        }
        .post-btn{
        
            font-size: 1.5rem;
            left:85%;
          
            width: 9rem;
            
            
        }


}



@media(max-width:882px){

    
    .feed-content{
        grid-template-columns: 1fr;
    }

        .feed-page-nav{
            grid-column: 1/-1;
        }

        .posts{
            grid-column: 1/-1;
        }
}

@media(max-width:613px){

    .feed-content{
    
        grid-template-columns: 1fr;
   
    }

    .modal{
        width: 90%; 
    }

    .modal-img{
        flex-shrink:  0;
    }

    .header2 div input{
        width: 27rem;
    }

    .post-text{
        width: 90%;
    }

    .post-btn{
        left: 80%;
    }

    .post-img {
        width:90%;
    
    }
}

@media(max-width:515px){

    .header2 div input{
        width: 22rem;
    }

}

@media(max-width:463px){

    .header2 div input{
        width: 18rem;
    }

}

@media(max-width: 428px){

        .header2  input{
            margin-right: .5rem;
        }

        .header2 img{
            margin-right: .5rem;
        }

        .header2 .icon a{
            margin: .5rem
        }

        .post-btn{
            left:75%;
        }

}

@media(max-width: 380px){

        .profile a{
            display: none;
        }

}